<div class="flex flex-col justify-start">
  <div class="flex justify-start border-y-[1px] h-10 pt-4">
    <img
      src="/assets/imgs/arr.png"
      alt="downArrow"
      class="px-2"
      (click)="collapse()"
    />
    <p class="text-sm">{{ title }}</p>
  </div>
  <div class="py-3 gap-3 text-sm flex flex-col" *ngIf="collapsed">
    <div
      class="mx-5 flex text-xs gap-1"
      *ngFor="let data of values"
      [formGroup]="store"
    >
      <input type="checkbox" formControlName="items" (click)="onRun()" class="cursor-pointer"/> {{ data }}
    </div>
  </div>
</div>
